Language:        Cpp
BasedOnStyle: Microsoft
IndentWidth: 5
ContinuationIndentWidth: 5
AccessModifierOffset: -5
ColumnLimit: 120
ConstructorInitializerIndentWidth: 5
UseTab: Never
BreakBeforeBraces: Allman
IndentCaseLabels: true
SortIncludes: Never
Cpp11BracedListStyle : false
IndentAccessModifiers: false
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBinaryOperators: All
BreakStringLiterals: true
ReferenceAlignment: Left
PointerAlignment: Left
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeComma
AlignArrayOfStructures: None
PackConstructorInitializers:  Never
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpaceBeforeSquareBrackets: false
SpaceBeforeCpp11BracedList: true
NamespaceIndentation: None
SpaceBeforeParens: ControlStatements